{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 4,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.md", "*.yml", "*.yaml", "*.json"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
