name: Docker Image Backend CI

on:
  push:
    branches: ["main"]
    paths:
      - "packages/backend/**"
      - ".github/workflows/CI-image-back.yml"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            backend:
              - 'packages/backend/**'
    outputs:
      backend: ${{ steps.filter.outputs.backend }}

  test:
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.backend == 'true'

    env:
      POSTGRES_DB: test
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      DATABASE_URL: postgres://${{ env.POSTGRES_USER}}:${{ env.POSTGRES_PASSWORD}}@db:5432/${{ env.POSTGRES_DB}}

    services:
      db:
        image: postgres:16
        env:
          POSTGRES_DB: test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres -d postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10

    steps:
      - uses: actions/checkout@v4

      - name: Setup Yarn
        run: |
          corepack enable
          corepack prepare yarn@4.10.3 --activate

      - name: Install deps
        run: yarn install --immutable

      - name: Wait for Postgres (safety)
        run: |
          for i in {1..30}; do
            pg_isready -h localhost -p 5432 -U postgres -d test && exit 0
            sleep 2
          done
          echo "Postgres indisponible" && exit 1

      - name: DB migrate
        working-directory: packages/backend
        run: yarn drizzle-kit generate
        env:
          DATABASE_URL: ${{ env.DATABASE_URL}}

      - name: Run tests
        working-directory: packages/backend
        run: yarn test --ci
        env:
          JWT_SECRET: "JWT_test_key"
          DATABASE_URL: ${{ env.DATABASE_URL}}

  build_and_push:
    runs-on: ubuntu-latest
    needs: [changes, test]
    if: needs.changes.outputs.backend == 'true'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Enable Corepack and install Yarn 4.10.3
        run: |
          corepack enable
          corepack prepare yarn@4.10.3 --activate

      - name: Compute version and timestamp
        id: vars
        shell: bash
        run: |
          VERSION="1.$(git rev-list --count HEAD)"
          TIMESTAMP="$(date +'%Y%m%d%H')"
          echo "VERSION=${VERSION}" >> "$GITHUB_ENV"
          echo "TIMESTAMP=${TIMESTAMP}" >> "$GITHUB_ENV"
          echo "tags=${{ secrets.DOCKER_USERNAME }}/planify_backend:${TIMESTAMP}-v${VERSION},${{ secrets.DOCKER_USERNAME }}/planify_backend:latest" >> "$GITHUB_OUTPUT"

      - name: Build and push (Buildx)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: packages/backend/Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ steps.vars.outputs.tags }}
