name: Backend - tests

on:
  push:
    branches: ["main"]
    paths:
      - "packages/backend/**"
      - ".github/workflows/ci-test.yml"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            backend:
              - 'packages/backend/**'
    outputs:
      backend: ${{ steps.filter.outputs.backend }}

  test:
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.backend == 'true'

    env:
      POSTGRES_DB: test
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

    services:
      db:
        image: postgres:16
        env:
          POSTGRES_DB: test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres -d postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10

    steps:
      - uses: actions/checkout@v4

      - name: Setup Yarn
        run: |
          corepack enable
          corepack prepare yarn@4.10.3 --activate

      - name: Install deps
        run: yarn install --immutable

      - name: Compose DATABASE_URL
        run: echo "DATABASE_URL=postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@localhost:5432/$POSTGRES_DB" >> "$GITHUB_ENV"

      - name: Wait for Postgres
        run: |
          for i in {1..30}; do
            pg_isready -h localhost -p 5432 -U postgres -d test && exit 0
            sleep 2
          done
          echo "Postgres indisponible" && exit 1

      - name: DB migrate
        working-directory: packages/backend
        run: yarn db:migrate
        env:
          DATABASE_URL: ${{ env.DATABASE_URL }}

      - name: Run tests
        working-directory: packages/backend
        run: yarn test --ci
        env:
          JWT_SECRET: "JWT_test_key"
          DATABASE_URL: ${{ env.DATABASE_URL }}
